{% extends "base.html" %}
{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  {% if transaction %}
  {% set block = transaction.block %}
  <h2>Transaction Details</h2>
  <div class="panel panel-default" style="background:none;">
    <div class="panel-heading">Network Details</div>
    <div class="table-responsive">
      <table class="table big-table table-striped table-hover">
        <tbody>
          <tr>
            <th width="30%">Appeared</th>
            <td data-sort-value="{{ block.timestamp }}">{{ block.ntime | human_date_utc }} ({{ block.ntime }} UTC)</td>
          </tr>
          <tr>
            <th>Currency</th>
            <td>{{ block.currency }}</td>
          </tr>
          <tr>
            <th>Algorithm</th>
            <td>{{ block.algo }}</td>
          </tr>
          <tr>
            <th>Coinbase Value</th>
            <td>{{ transaction.total_value | comma }} {{ transaction.currency }}</td>
          </tr>
          <tr>
            <th>Transaction Hash</th>
            <td><samp>{{ transaction.txid | bytes }}</samp></td>
          </tr>
          <tr>
            <th>Found in</th>
            <td><a href="/block/{{ block.hash | bytes }}">
                  {{ block.currency }} #{{ block.height | comma }}
                  (<samp>{{ block.hash | bytes }}</samp>)
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clearfix"></div>
  {% else %}
  <br>
  <br>
  <h3>No transaction by that identifier could be found in our database!</h3>
  <br>
  <br>
  {% endif %}
</div>

<h3>Outputs Spent</h3>
{% set outputs = transaction.spent_txs %}
{% include "output_table.html" %}
<h3>Outputs Created</h3>
{% set outputs = transaction.origin_txs %}
{% include "output_table.html" %}
{% endblock %}
